body {
    padding-bottom: 0px;
}

body h2 {
    text-align: center;
}

#usage h1 {
    text-align: center;
}

#usage h4, #usage ol {
    margin-left: 300px;
} 

#data {
    width: 100%;
    text-align: center;
    color: white;
}

#data input {
    width: 95%;
    background-color: #ccc;
    color: black;
}

#container {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
